/* PC */
@media (min-width: 992px) {

 .newsletter-banner {
    padding-inline: 1rem;
  }
  .from_footer {
    display: flex;
  }
  .from_footer_center {
    display: flex;
  }
  .list_ecosystem_menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap :48px 16px;
    
  }

   .container_home{
    padding-bottom: 100px;
    background: url(/Images/bg/bg_PC.webp) no-repeat top;
     background-size: cover;
     background-attachment: fixed;
  }
     .text_bannermain {
    color: #0065ff;
  }

  .text_bannermain button {
    border: 1px solid #0065ff;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
  }
   .text_ngan {
    display: none;
  }
  .header {
    max-width: 1320px;
    margin: auto;
    height: 7vh;
  }
  .ecosytem_container{
    padding-inline: 1rem;
  }

}
/* Tablet  & Mobile */
@media (max-width: 991.98px) {
  .ecosytem_container{
    padding-inline: 1rem;
  }
     .container_home{
    padding-bottom: 80px;
    background: url(/Images/bg/bg_Mobile.webp) no-repeat top;
     background-size: cover;
     background-attachment: fixed;
  }
     .text_bannermain {
    color: #0065ff;
  }
  .duongdan_ecosytem{
    display : none;
  }

  .text_bannermain button {
    border: 1px solid #0065ff;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
  }
   .text_dai {
    display: none;
  }
     .from_footer {
    display: flex;
  }
   .newsletter-banner {
    padding-inline: 1rem;
  }
  .from_footer_center {
    width: 600px;
    display: flex;
  }
   .list_ecosystem_menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
        gap :32px 16px;

    
  }


 
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container_home{
    background: url(/Images/bg/bg_Tablet.webp) no-repeat top;
     background-size: cover;
     background-attachment: fixed;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
   html, body {
    overflow-x: hidden;
    max-width: 100%;
  }
    * {
    box-sizing: border-box;
  }

  /* Fix ecosystem page */
  .w-full.py-12 {
    padding-inline: 1rem;
  }

  .max-w-\[1100px\] {
    width: 100%;
    max-width: 100%;
  }

  /* Fix header tràn */
  header {
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
  }
  

   .from_footer {
    display: flex;
    flex-direction: column;
  }
  .from_footer_center {
    display: block;
    width: 28rem;
    max-width: 100%;
  }
  .from_footer_center button {
    width: 26rem;
    max-width: 100%;
    margin: 5px;
  }
  .from_footer_center input {
    width: 26rem;
    max-width: 100%;
    margin: 5px;
    
    box-sizing: border-box;
  }
   .list_ecosystem_menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
      .header {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
}
