/* PC */
@media (min-width: 992px) {
  .duongdan_tablet {
    display: none;
  }
  .list_detailed_news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
   .newsletter-banner {
    padding-inline: 3rem;
  }
   .container_home {
    padding-bottom: 160px;
    background: url(/Images/bg/bg_PC.webp) no-repeat top;
     background-size: cover;
     background-attachment: fixed;
  }


 .duongdna_teblet {
  display: none;
 }
}
/* Tablet  & Mobile */
@media (max-width: 991.98px) {
  .duongdna_pc {
    display: none;
  }
  .from_footer_center {
    width: 600px;
    display: flex;
  }
 .container_home {
    padding-bottom: 120px;
    background: url(/Images/bg/bg_Mobile.webp) no-repeat top;
     background-size: cover;
     background-attachment: fixed;
  }
  
  .them_news button{
    margin: auto;

  }
   .newsletter-banner {
    padding-inline: 3rem;
  }
} 
@media (min-width: 768px) and (max-width: 991.98px) {
    .container_home{
    background: url(/Images/bg/bg_Tablet.webp) no-repeat top;
     background-size: cover;
     background-attachment: fixed;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
     .header {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
    .from_footer {
    display: flex;
    flex-direction: column;
  }
  .from_footer_center {
    display: block;
    width: 28rem;
    max-width: 100%;
  }
  .from_footer_center button {
    width: 26rem;
    max-width: 100%;
    margin: 5px;
  }
  .from_footer_center input {
    width: 26rem;
    max-width: 100%;
    margin: 5px;
    
    box-sizing: border-box;
  }
}
