/* PC */
@media (min-width: 992px) {
  .duongdannap{
    display : none;
  }
 

  .list-news {
    padding-inline: 1rem;
  }

  .newsletter-banner {
    padding-inline: 1rem;
  }
   .container_home{
    padding-bottom: 100px;
    background: url(/Images/bg/bg_PC.webp) no-repeat top;
     background-size: cover;
     background-attachment: fixed;
  }
  .text_ngan{
    display: none;
  }
       .text_bannermain {
    color: #0065ff;
  }

  .text_bannermain button {
    border: 1px solid #0065ff;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
  }
  .header {
    max-width: 1320px;
    margin: auto;
    height: 7vh;
  }
}

/* Tablet  & Mobile */
@media (max-width: 991.98px) {
   .container_home{
    background: url(/Images/bg/bg_Mobile.webp) no-repeat top;
     background-size: cover;
     background-attachment: fixed;
  }
   .newsletter-banner {
    padding-inline: 1rem;
  }
  .text_dai {
    display: none;
  }
       .text_bannermain {
    color: #0065ff;
  }

  .text_bannermain button {
    border: 1px solid #0065ff;
    border-radius: 4px;
    padding: 4px 6px 4px 6px;
  }
  .heroBanner {
    display: none;
  }

  .filter_tab {
    margin-top: 50px;
  }

  .duongdannap p {
    display: inline-flex;
    align-items: center;
    padding-inline: 24px;
    gap: 8px;
    margin-bottom: 24px;
  }
  .text_bannermain {
    color: #0065ff;
  }
  .list_news_content {
    display: grid;
    gap: 16px;
    border-radius: 12px;
  }
  .text_bannermain button {
    border: 1px solid #0065ff;
    border-radius: 8px;
    padding: 8px 24px 8px 28px;
  }
    .text_dai {
    display: none;
  }
  .newsletter-banner{
    display: none;
  }
  .bannerMain{
    margin-bottom: 50px;
  }
    




}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container_home{
    background: url(/Images/bg/bg_Tablet.webp) no-repeat top;
     background-size: cover;
     background-attachment: fixed;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
   .header {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
     .text_bannermain {
    display: flex;
    flex-direction: row;
  }
  .from_footer {
    display: flex;
    flex-direction: column;
  }

  .from_footer_center {
    display: block;
    width: 28rem;
    max-width: 100%;
  }

  .from_footer_center button {
    width: 26rem;
    max-width: 100%;
    margin: 5px;
  }

  .from_footer_center input {
    width: 26rem;
    max-width: 100%;
    margin: 5px;

    box-sizing: border-box;
  }
}